@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  background: black;
  font-family: 'VT323', monospace;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
}

.subtitle {
  width: 500px;
  margin: 10px auto 50px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}